html {
  height: 100%;
  width: 100%;
}
span.zero {
    /* fun fact: the lightness order of the grays in HTML/CSS is:
        lightgray -> darkgray -> gray -> dimgray
    yep, "dark gray" is the second lightest 💀 */
    color: dimgray;
}
.hidden {
    display: none;
}
.decoded-table {
    border-collapse: collapse;
}
.decoded-table td {
    border: 5px solid black;
}

span.bool-true {
    color: green;
}
span.bool.false {
    color: red;
}