html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 1.2;
}
span.zero {
    /* fun fact: the lightness order of the grays in HTML/CSS is:
        lightgray -> darkgray -> gray -> dimgray
    yep, "dark gray" is the second lightest 💀 */
    color: dimgray;
}
.hidden {
    display: none;
}
.decoded-table {
    border-collapse: collapse;
}
.decoded-table td {
    border: 5px solid black;
    vertical-align: top; /* to align the top row with taller missions
    it doesn't seem to do anything yet but just in case */
}

span.bool-true {
    color: green;
}
span.bool-false {
    color: red;
}

.tank-icon {
    height: 1.2em; /* to match with line height */
    vertical-align: top; /* otherwise it hovers above the text and looks wrong */
    filter: saturate(1.337);
    image-rendering: /*pixelated*/crisp-edges; /* pixelated makes it look crippled :/
    yeah there's a difference between crisp-edges and pixelated now */
}